<div class="background">
</div>
<div id="clock" class="container">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-2 col-sm-2">
      <h2 class="weeks"></h2>
      <h3>Weeks</h3>
    </div>

    <div class="col-md-2 col-sm-2">
      <h2 class="days"></h2>
      <h3>Days</h3>
    </div>

    <div class="col-md-2 col-sm-2">
      <h2 class="hours"></h2>
      <h3>Hours</h3>
    </div>

    <div class="col-md-2 col-sm-2">
      <h2 class="minutes"></h2>
      <h3>Minutes</h3>
    </div>

    <div class="col-md-2 col-sm-2">
      <h2 class="seconds"></h2>
      <h3>Seconds</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 centered">
      <h3>August 31, 2017</h3>
    </div>
  </div>
</div>
<div class="stork"></div>
